body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Navbar */
.navbar {
  box-shadow: 0px 2px 9px 7px rgba(222, 222, 222, 0.58);
  -webkit-box-shadow: 0px 2px 9px 7px rgba(222, 222, 222, 0.58);
  -moz-box-shadow: 0px 2px 9px 7px rgba(222, 222, 222, 0.58);
}

.logo-nav{
  width:130px;
  height: 75px;
  margin-right: 20px;
}




.font-navbar {
  color: #000000;
}

.font-navbar:hover {
  color: white;
}

.btn-buscar-nav {
  background-color: rgb(233, 231, 231) !important;
  border-radius: 17px !important;
}

.form-control {
  border-radius: 27px !important;
}

#dropdown-basic {
  background-color: rgb(255, 255, 255) !important ;
  color:rgb(156, 148, 148);
  border: none;
}


.btn-categ{
  background-color:rgb(243, 243, 243) !important ;
}

.iconos-nav {
  color: rgb(170, 170, 170);
}
/* fin de NavbAR */

/* carousel */
.img-carousel {
  width: 100%;
  max-height: 40vh;
}
/* Fin de carousel */


/* Login */
.login-form {
  border: 1px solid rgb(170, 170, 170);
  border-radius: 10px;
}
/* Fin Login */


/* Footer */
footer {
  background-color: rgb(0, 0, 0);
  margin-top: 600px;
}
