body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



/* ---------------------------------------------------------------------------------------------- */


/* Navbar */
.navbar {
  box-shadow: 0px 2px 9px 7px rgba(222, 222, 222, 0.58);
  -webkit-box-shadow: 0px 2px 9px 7px rgba(222, 222, 222, 0.58);
  -moz-box-shadow: 0px 2px 9px 7px rgba(222, 222, 222, 0.58);
}

.logo-nav{
  width:130px;
  height: 75px;
  margin-right: 20px;
}


.font-navbar {
  color: #000000;
}

.font-navbar:hover {
  color: white;
}

.btn-buscar-nav {
  background-color: rgb(233, 232, 231) !important;
  border-radius: 17px !important;
}

.form-control {
  border-radius: 27px !important;
}

#dropdown-basic {
  background-color: rgb(255, 255, 255) !important ;
  color:rgb(255, 102, 0);
  border: none;
}


.btn-categ{
  background-color:rgb(243, 243, 243) !important ;
}

.iconos-nav {
  color: rgb(170, 170, 170);
}
/* fin de NavbAR */


/* ---------------------------------------------------------------------------------------------- */


/* Carousel */
.img-carousel {
  width: 100%;
  max-height: 30vh;
}
/* Fin de Carousel */


/* ---------------------------------------------------------------------------------------------- */

/* Login */
.login-form {
  background-color: rgb(246, 246, 246);
  border-radius: 10px;
  box-shadow: -1px 1px 36px 9px rgba(199,199,199,0.89);
-webkit-box-shadow: -1px 1px 36px 9px rgba(199,199,199,0.89);
-moz-box-shadow: -1px 1px 36px 9px rgba(199,199,199,0.89);
}

.btn-loginUser{
  background-color: rgb(255, 128, 44) !important;
  border: none !important;
}
/* Fin Login */


/* ---------------------------------------------------------------------------------------------- */

/* Footer */
footer {
  background-color: rgb(0, 0, 0);
  margin-top: 350px;
}
/* Fin Footer */


/* ---------------------------------------------------------------------------------------------- */


/* Home */

/* Productos Destacados */

/* Fin de Productos Destacados */


/* Fin de Home */


/* ---------------------------------------------------------------------------------------------- */


/* Error404 */
.title-error{
font-size: 150px;
color: rgb(255, 123, 0);
text-shadow: 4px 4px 2px rgba(33,43,167,1);
}
.btn-error404{
  background-color: rgb(230, 122, 0) !important;
  color: white !important;
}
/* Fin de Error404 */


/* ---------------------------------------------------------------------------------------------- */


/* Contact */
/* MapC */
.box-map{
  background-color: rgb(245, 245, 245);
  border-radius: 7px;
  box-shadow: -5px 3px 20px 7px rgba(192,192,192,1);
-webkit-box-shadow: -5px 3px 20px 7px rgba(192,192,192,1);
-moz-box-shadow: -5px 3px 20px 7px rgba(192,192,192,1);
}

.Maps{
  width: 600px;
  height: 450px;
  border: none;
  border-radius: 8px;

}
/* fin de MapC */

/* SendEmailC */
.formulario-c{
  background-color: rgb(245, 245, 245);
  border-radius: 7px;
  box-shadow: 6px 3px 20px 7px rgba(192,192,192,1);
-webkit-box-shadow: 6px 3px 20px 7px rgba(192,192,192,1);
-moz-box-shadow: 6px 3px 20px 7px rgba(192,192,192,1);
}
/* Fin de SendEmailC */

/* Fin de Contact */


/* ---------------------------------------------------------------------------------------------- */