body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ---------------------------------------------------------------------------------------------- */

/* Navbar */
.navbar {
  box-shadow: 0px 2px 9px 7px rgba(222, 222, 222, 0.58);
  -webkit-box-shadow: 0px 2px 9px 7px rgba(222, 222, 222, 0.58);
  -moz-box-shadow: 0px 2px 9px 7px rgba(222, 222, 222, 0.58);
}

.logo-nav {
  width: 130px;
  height: 75px;
  margin-right: 20px;
}

.font-navbar {
  color: #000000;
}

.font-navbar:hover {
  color: white;
}

.btn-buscar-nav {
  background-color: rgb(233, 232, 231) !important;
  border-radius: 17px !important;
}

.form-control {
  border-radius: 27px !important;
}

#dropdown-basic {
  background-color: rgb(255, 255, 255) !important ;
  color: rgb(255, 102, 0);
  border: none;
}

.btn-categ {
  background-color: rgb(243, 243, 243) !important ;
  position: relative !important;
  display: inline-block !important;
}

.btn-categ-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding-top: 12px;
  z-index: 1;
}

.btn-categ:hover .btn-categ-content {
  display: block;
}

.iconos-nav {
  color: rgb(170, 170, 170);
}
/* fin de NavbAR */

/* ---------------------------------------------------------------------------------------------- */

/* Carousel */
.img-carousel {
  width: 100%;
  max-height: 30vh;
}
/* Fin de Carousel */

/* ---------------------------------------------------------------------------------------------- */

/* Login */
.login-form {
  background-color: rgb(246, 246, 246);
  border-radius: 10px;
  box-shadow: -1px 1px 36px 9px rgba(199, 199, 199, 0.89);
  -webkit-box-shadow: -1px 1px 36px 9px rgba(199, 199, 199, 0.89);
  -moz-box-shadow: -1px 1px 36px 9px rgba(199, 199, 199, 0.89);
}

.btn-loginUser {
  background-color: rgb(255, 128, 44) !important;
  border: none !important;
}

.inputLoginUser:hover {
  border: 1px solid rgb(255, 94, 0);
}

.userlogin-hr {
  width: 30%;
  height: 2% !important;
  border: none;
  margin-left: 0;
  background-color: #f56300;
}

/* Fin Login */

/* ---------------------------------------------------------------------------------------------- */

/* Footer */
footer {
  background-color: rgb(0, 0, 0);
  margin-top: 50px;
}
/* Fin Footer */

/* ---------------------------------------------------------------------------------------------- */

/* Home */

/* Productos Destacados */

.productosDestacados {
  background-color: rgb(255, 135, 23);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 1px 15px -1px rgba(255, 90, 0, 0.78);
  -webkit-box-shadow: 0px 1px 15px -1px rgba(255, 90, 0, 0.78);
  -moz-box-shadow: 0px 1px 15px -1px rgba(255, 90, 0, 0.78);
}
.Producto {
  border: 2px solid rgb(245, 179, 104);
}

.Producto:hover{
  box-shadow: 0px 1px 15px -1px rgba(255, 90, 0, 0.78);
  -webkit-box-shadow: 0px 1px 15px -1px rgba(255, 90, 0, 0.78);
  -moz-box-shadow: 0px 1px 15px -1px rgba(255, 90, 0, 0.78);
}

.nameProducto {
  text-decoration: none !important;
  color: #000000;
  font-size: 17px;
}
.nameProducto:hover {
  color: #7e7e7e;
}

.img-producto {
  width: 100%;
  height: 300px;
  max-height: 40vh;
}
.marcaText {
  background-color: black;
  border-radius: 7px;
  color: white;
}

.precio-producto {
  color: rgb(255, 102, 0);
  font-size: 20px;
}

.btn-compra {
  background-color: rgb(255, 123, 0) !important;
  color: rgb(250, 251, 251) !important;
  text-decoration: none !important;
}

.btn-compra:hover {
  background-color: rgb(241, 117, 0) !important;
  color: rgb(241, 241, 241) !important;
}
/* Fin de Productos Destacados */

/* Fin de Home */

/* ---------------------------------------------------------------------------------------------- */

/* Error404 */
.title-error {
  font-size: 150px;
  color: rgb(255, 123, 0);
  text-shadow: 4px 4px 2px rgba(33, 43, 167, 1);
}
.btn-error404 {
  background-color: rgb(230, 122, 0) !important;
  color: white !important;
}
/* Fin de Error404 */

/* ---------------------------------------------------------------------------------------------- */

/* Contact */
/* MapC */
.box-map {
  background-color: rgb(245, 245, 245);
  border-radius: 7px;
  box-shadow: -5px 3px 20px 7px rgba(192, 192, 192, 1);
  -webkit-box-shadow: -5px 3px 20px 7px rgba(192, 192, 192, 1);
  -moz-box-shadow: -5px 3px 20px 7px rgba(192, 192, 192, 1);
}

.Maps {
  width: 600px;
  height: 450px;
  border: none;
  border-radius: 8px;
}
/* fin de MapC */

/* SendEmailC */
.formulario-c {
  background-color: rgb(245, 245, 245);
  border-radius: 7px;
  box-shadow: 6px 3px 20px 7px rgba(192, 192, 192, 1);
  -webkit-box-shadow: 6px 3px 20px 7px rgba(192, 192, 192, 1);
  -moz-box-shadow: 6px 3px 20px 7px rgba(192, 192, 192, 1);
}

.form-hr {
  width: 30%;
  height: 1% !important;
  border: none;
  margin-left: 0;
  background-color: #ff5100 !important;
}

.text-required {
  color: #f56300;
}

.btn-contactoForm {
  background-color: rgb(255, 102, 0) !important;
  border: none !important;
}
.input-hoverContact:hover {
  border: 1px solid rgb(255, 94, 0);
}
/* Fin de SendEmailC */

/* Fin de Contact */

/* ---------------------------------------------------------------------------------------------- */

/* Productos Screen */
.atajos-id {
  font-size: 13px;
  color: rgb(153, 153, 153);
}
.atajos-text {
  text-decoration: none !important;
  color: rgb(156, 156, 156) !important;
}

.atajos-text:hover {
  color: #ff7b00 !important;
}

.precio-producto2 {
  color: rgb(255, 102, 0);
  font-size: 50px;
}

.img-id {
  width: 100%;
  max-height: 60vh;
  /* border:1px solid #f56300; */
}

.codigo-product {
  font-size: 14px;
}

.btn-volver {
  border: 1px solid rgb(255, 123, 0) !important;
  color: #ff5100 !important;
  text-decoration: none !important;
}

.btn-volver:hover {
  background-color: rgb(0, 7, 110);
  color: white !important;
}

/* Fin de Screen */

/* Carrito */
.carritoBox {
  background-color: #ff7300;
  font-size: 15px;
  color: #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.pagarBox {
  background-color: #f3f3f3;
  box-shadow: 6px 3px 20px 7px rgba(192, 192, 192, 1);
  -webkit-box-shadow: 6px 3px 20px 7px rgba(192, 192, 192, 1);
  -moz-box-shadow: 6px 3px 20px 7px rgba(192, 192, 192, 1);
}

.cuerpoCarrito {
  background-color: rgb(245, 245, 245);
}

.img-carrito {
  width: 120px;
  height: 100px;
  border: 1px solid rgb(255, 136, 0);
}

.subtotalText {
  color: #7e7e7e;
}

.btn-pedidoF {
  background-color: #ff7300 !important;
  color: #f3f3f3 !important;
  font-size: 18px !important;
}

.btn-cantidad {
  background-color: #e2e2e2 !important;
  color: rgb(0, 0, 0) !important;
}

/* Fin de Carrito */

/* Admin */

/* Tabla Categorias */
.appTabla {
  background-color: #dfdfdf;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Fin de Tabla Categorias */

/* Fin de Admin */

/*  */

/* User */

/* UserData */
.UserBoxData {
  border: 1px solid rgb(238, 238, 238);
  border-radius: 7px;
  box-shadow: 0px -2px 10px 2px rgba(194, 194, 194, 0.95);
  -webkit-box-shadow: 0px -2px 10px 2px rgba(194, 194, 194, 0.95);
  -moz-box-shadow: 0px -2px 10px 2px rgba(194, 194, 194, 0.95);
}
/* Fin de UserData */

/* UserCompras */
.MisComprasBox {
  border: 1px solid rgb(236, 236, 236);
  border-radius: 7px;
  box-shadow: 0px -2px 10px 2px rgba(194, 194, 194, 0.95);
  -webkit-box-shadow: 0px -2px 10px 2px rgba(194, 194, 194, 0.95);
  -moz-box-shadow: 0px -2px 10px 2px rgba(194, 194, 194, 0.95);
}
/* Fin de UserCompras */

/* Fin de User */
